p, li{
  font-family: sans-serif;
  color: green;
}
a:link{
  color: green;

}
a:hover{
background-color: #ccc;
}
a:visited{
  color: red;
}
a:active{
  color:orange;
}
ul li{
  list-style-type: disc;
}
ol li{
  list-style-type: lower-roman;
  list-style-position: inside; /* fica dentro da lista*/
}