body{
  font-family: sans-serif;
}
td{
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}
table{
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  background: beige;
}
th{
  background: #bfc361;
  border: 2px solid chocolate;
  padding: 15px;
}